<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="public/styles.css" />
    <title>URL Shortener</title>
  </head>
  <body>
    <h1>URL Shortener Microservice</h1>
    <div>
      <form action="/api/shorturl" method="POST">
        <fieldset>
          <legend>URL Shortener</legend>
          <label for="url-input" id="url-label">URL</label>
          <input type="text" id="url-input" name="url" />
          <button type="submit">Submit</button>
        </fieldset>
      </form>
    </div>
  </body>
</html>
